<!--Start footer-->
<footer style="background-color: #10131a;">
    <hr width='100%' style="color:transparent;"> </hr>
    <div style="text-align: center;background-color: #10131a;">
      <div style="color:#9AA7B8;text-decoration: underline 1px;font-size: 14px;">
        About
      </div>
      <div style="color: #525d6a;font-size: 13px;background-color: #10131a;">
        This is an online application to check your codeforces stats and compare them with other users!
      </div>
      <div class="container" style="width:150px;background-color: #10131a;">
        <div class="row" style="margin:0">
        <div class="col" >
          <a  href="https://www.linkedin.com/in/vivek-pattanayak-8225021a0/" target="_blank" ><i class="fa fa-linkedin" style="font-size:28px;color:#525d6a;padding-top:15px;padding-bottom: 15px;"></i></a>
        </div>  
        <div class="col" >
          <a href="https://github.com/VivekPattanayak" target="_blank"><i class="fa fa-github" style="font-size:28px;color:#525d6a;padding-top:15px;padding-bottom: 15px;"></i></a>
        </div>
        </div> 
      </div>
    </div>
    </footer>
<!--End footer-->    