<div class="row " id="sup_dgholder" style="display:none;margin:0;padding-bottom: 20px;" >
    <div id="versus" style="margin-top: 15px;margin-bottom: 15px;color:#437fc7;font-weight:bold"> </div>
    <div id="dgholder" style="display:none"></div>
</div>
<!----------------------------------------------------------------------PROBLEM RATINGS---------------------------------------------------------------------------------->

<div class="row " id="u1_only_prob" style="display:none;margin:0;padding-bottom: 20px;" >
  <div id="u1_n_prb" style="margin-top: 15px;margin-bottom: 15px;color:#33ccff;font-weight:bold"> </div>
  <div id="u1_prob_holder" ></div>
</div>

<div class="row " id="sup_problemvs" style="display:none;margin:0;padding-bottom: 20px;" >
  <div id="name_vs_prb" style="margin-top: 15px;margin-bottom: 15px;color:#437fc7;font-weight:bold"> </div>
  <div id="problem_rating_holder" ></div>
</div>
<!------------------------------------------------------------------- RECENTLY SOLVED ------------------------------------------------------------------>

<div class="row" id="recently_solved_u1"> </div>
<div class="row" id="recently_solved_u2"> </div>
<!----------------------------------------------------------------------USER GRAPHS---------------------------------------------------------------------------------------->
<div class="row " style="margin:0;" >
  <div class="col-sm" >
    <div id="g1holder" style="padding-top:20px;padding-bottom: 20px;" >  </div>
  </div>
  <div  class="col-sm" id="grp2" style="background-color: #222630;padding-top:20px;padding-bottom: 20px;">
    <div id="g2holder" style="background-color: #222630;">  </div>
  </div>
</div>

