<div class=".container-fluid " style=" text-align: center;">
    <!-- Loader -->
    <div class="row" id="loadcircle" style="margin:0;display:none;">
      <div style="height:100px;width:auto;"> </div>
      <div class="loader" id="load_circle_rgb" style="margin-left: auto;margin-right: auto;" >
        <span class="threedot"> <span class="dot dot-1"></span> <span class="dot dot-2"></span> <span class="dot dot-3"></span> </span>
      </div>
      <div style="height:100px;width:auto;"> </div>
    </div>
</div>  