<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #222630;" >
    <div class="container-fluid text-center" style="background-color:inherit;">
      <a class="animate__animated animate__fadeInDown navbar-brand" href="#" style="background-color:inherit;">
        <div class=".container-fluid " style=" background-color:inherit;text-align: center;padding:0;margin:0;">
          <div onclick="location.href='/';" class="row" style="background-color:inherit;margin:0">
              <div class="col align-items-center" style="background-color:inherit;padding:0;margin-right:10px;">
                  <div style="height:auto">
                    <span class="bar_an_1">I</span>
                    <span class="bar_an_2">I</span>
                    <span class="bar_an_3">I</span>
                  </div>
              </div>
              <div class="col align-items-center" style="background-color:inherit;padding:0;font-size:24px;color:white;">
                Codeforces Compare Tool
              </div>
          </div>
      </div>    
      </a>
        <button style="background-color:inherit;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span style="background-color:inherit;" class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center;background-color:inherit">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 " style="background-color:inherit;">
            <li class="nav-item" style="background-color:inherit;margin-top: 5px;">
              <div class="col " style="padding:0;color:white;margin-right:10px;background-color:inherit;">
                <a id="login" href="/login" class="navlink">Login</a>
                <a id="logout" href="/logout" class="navlink">Logout</a>
                <a id="profile" href="/profile" class="navlink"><%= process.env.USERID %></a>
                <a id="lgst" href="profile" style="display:none"><%= login_status %></a>
              </div>
          </li>
            <li id="toggle_head" class="nav-item" style="background-color:inherit;margin-top: 5px;">
                <div class="col " style="padding:0;color:white;margin-right:10px;background-color:inherit;">
                  Toggle
                </div>
            </li>

            <li id="toggle_btn" class="nav-item" style="background-color:inherit;">
              <label class="switch" style="background-color:inherit;">
                <input type="checkbox" onclick="toggleuser2()" style="display:inline-flex;background-color:inherit;">
                <span class="slider round" style="background-color:inherit;"></span>
            </li>
          </ul>
        </div>
    </div>
  </nav>
  <!--End navbar-->