<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Codeforces Compare Tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Animate version  4.1.1 -->
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" >
        <!--                        -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <!--for using chart.js extension to plot ratings-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="/js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
    <body>
      
      <!-- --------------------------------------------------------------------NAV---------------------------------------------------------------------------------------->

      <nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #222630;" >
        <div class="container-fluid text-center" style="background-color:inherit;">
          <a class="animate__animated animate__fadeInDown navbar-brand" href="#" style="background-color:inherit;">
            <div class=".container-fluid " style=" background-color:inherit;text-align: center;padding:0;margin:0;">
              <div class="row" style="background-color:inherit;margin:0">
                  <div class="col align-items-center" style="background-color:inherit;padding:0;margin-right:10px;">
                      <div style="height:auto">
                        <span class="bar_an_1">I</span>
                        <span class="bar_an_2">I</span>
                        <span class="bar_an_3">I</span>
                      </div>
                  </div>
                  <div class="col align-items-center" style="background-color:inherit;padding:0;font-size:24px;color:white;">
                    Codeforces Compare Tool
                  </div>
              </div>
          </div>    
          </a>
            <button style="background-color:inherit;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span style="background-color:inherit;" class="navbar-toggler-icon" ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center;background-color:inherit">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 " style="background-color:inherit;">
                <li class="nav-item" style="background-color:inherit;margin-top: 5px;">
                    <div class="col " style="padding:0;color:white;margin-right:10px;background-color:inherit;">
                      Toggle
                    </div>
                </li>

                <li class="nav-item" style="background-color:inherit;">
                  <label class="switch" style="background-color:inherit;">
                    <input type="checkbox" onclick="toggleuser2()" style="display:inline-flex;background-color:inherit;">
                    <span class="slider round" style="background-color:inherit;"></span>
                </li>
              </ul>
            </div>
        </div>
      </nav>

      <!-- --------------------------------------------------------------------INPUT---------------------------------------------------------------------------------------->

        <div class=".container-fluid " style=" text-align: center;background-color: #13161d;">
            <div class="row " style="color:#F9CF47;margin:0" >
              <div class="col-sm ">
                <div  style="font-size:13px;font-weight:bold;background-color:inherit;margin-top:10px">
                    ENTER USER 1
                </div>
                <input id="info1" placeholder="Enter Handle" style="caret-color:#00ff00;color:white;margin-top:5px;margin-bottom: 15px;border: 0;border-bottom: 2px solid #56595d;background-color: transparent;outline:none">
              </div>
              <div class="col-sm" id="Enteruser2" style="color: #F9CF47;padding-bottom: 15px;">
                <div style="font-size:13px;font-weight:bold;background-color:inherit;margin-top:10px">
                    ENTER USER 2
                </div>
                <input id="info2" placeholder="Enter Handle" style="caret-color:#00ff00;color:white;margin-top:5px;border: 0;border-bottom: 2px solid #56595d;background-color: transparent;outline:none">
              </div>
            </div>
        </div>    


        <!-- --------------------------------------------------------------------LOADER---------------------------------------------------------------------------------------->
        

        <div class=".container-fluid " style=" text-align: center;">
            <!-- Loader -->
            <div class="row" id="loadcircle" style="margin:0;display:none;">
              <div style="height:100px;width:auto;"> </div>
              <div class="loader" id="load_circle_rgb" style="margin-left: auto;margin-right: auto;" ></div>
              <div style="height:100px;width:auto;"> </div>
            </div>
        </div>    

        <!-- --------------------------------------------------------------------USERS---------------------------------------------------------------------------------------->
        
        <div class=".container-fluid " id="user_info_total" style=" text-align: center;">
            <div class="row"  style="margin:0">
                
                <!-- --------------------------------------------------------------------USER1---------------------------------------------------------------------------------------->
                
                <div id="user_1" class="col-sm" style="background-color:#191c22;">
                  <img id="user1dp" style="border-radius: 50%;margin-top:10px">
                  <div>
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" style="margin-top:10px;background-color: transparent;border: 0px solid transparent" data-placement="bottom" title="Visit cf profile">
                      <div id="handle1" class="cl_user_handle" onclick="load_cf_page('handle1')" style="font-family:verdana;font-weight: bold;font-size:18px;"> </div>
                    </button>
                  </div>
                  <table id="tab_1" class="table_des" style="width:80%;max-width:500px;margin-left: auto; margin-right: auto;display:none;">
                    <tr>
                      <th style="font-weight:bold">Name</th>
                      <td><div id="name1" style="margin-top:10px"> </div></td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">Rating</th>
                      <td><div id="rating1"> </div></td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">Max Rating</th>
                      <td><div id="maxrating1" style="margin-bottom:10px"> </div></td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">Contests Appeared</th>
                      <td><div id="contests_appeared1"> </div> </td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">AC Count</th>
                      <td><div id="problems_solved1"></div> </td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">Best Rank</th>
                      <td><div id="bestrank1"></div> </td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">Worst Rank</th>
                      <td><div id="worstrank1"></div></td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">Max Rating Increase</th>
                      <td><div id="maxdplus1" > </div></td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">Max Rating Decrease</th>
                      <td><div id="maxdminus1" style="margin-bottom:10px"> </div></td>
                    </tr> 
                  </table>
                </div>
                
                <!-- --------------------------------------------------------------------USER2---------------------------------------------------------------------------------------->
            
                <div id="user_2" class="col-sm" style="background-color:#222630;display:block;">
                  <img id="user2dp" style="border-radius: 50%;margin-top:10px">
                  <div>
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" style="margin-top:10px;background-color: transparent;border: 0px solid transparent" data-placement="bottom" title="Visit cf profile">
                      <div id="handle2" class="cl_user_handle" onclick="load_cf_page('handle2')" style="background-color:inherit;font-size:18px;font-family:verdana;font-weight: bold;"> </div>
                    </button>
                  </div>
                  <table id="tab_2" class="table_des" style="background-color:inherit;width:80%;max-width:500px;margin-left: auto; margin-right: auto;display:none;">
                    <tbody style="background-color: inherit;">
                    <tr>
                      <th style="font-weight:bold;margin-top:10px;">Name</th>
                      <td><div id="name2" style="margin-top:10px;"> </div></td>
                    </tr>
                    <tr >
                      <th style="background-color: inherit;font-weight:bold">Rating</th>
                      <td><div id="rating2" > </div></td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold;background-color: inherit;">Max Rating</th>
                      <td><div id="maxrating2"  style="margin-bottom:10px"> </div></td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">Contests Appeared</th>
                      <td><div id="contests_appeared2" > </div> </td>
                    </tr>
                    <tr>
                      <th style="font-weight:bold">AC Count</th>
                      <td><div id="problems_solved2" ></div> </td>
                    </tr>
                    <tr >
                      <th style="font-weight:bold">Best Rank</th>
                      <td><div id="bestrank2" ></div> </td>
                    </tr>
                    <tr >
                      <th style="font-weight:bold">Worst Rank</th>
                      <td><div id="worstrank2" ></div></td>
                    </tr>
                    <tr >
                      <th style="font-weight:bold">Max Rating Increase</th>
                      <td><div id="maxdplus2" > </div></td>
                    </tr>
                    <tr >
                      <th style="font-weight:bold">Max Rating Decrease</th>
                      <td><div id="maxdminus2"  style="margin-bottom:10px"> </div></td>
                    </tr> 
                    </tbody>
                  </table>
                </div>
                

              </div>
              <!-- --------------------------------------------------------------------SUPERIMPOSED GRAPH---------------------------------------------------------------------------------------->
              
              <div class="row " id="sup_dgholder" style="display:none;margin:0;padding-bottom: 20px;" >
                  <div id="versus" style="margin-top: 15px;margin-bottom: 15px;color:#437fc7;font-weight:bold"> </div>
                  <div id="dgholder" style="display:none"></div>
              </div>
              <!----------------------------------------------------------------------PROBLEM RATINGS---------------------------------------------------------------------------------->

              <div class="row " id="u1_only_prob" style="display:none;margin:0;padding-bottom: 20px;" >
                <div id="u1_n_prb" style="margin-top: 15px;margin-bottom: 15px;color:#33ccff;font-weight:bold"> </div>
                <div id="u1_prob_holder" ></div>
              </div>

              <div class="row " id="sup_problemvs" style="display:none;margin:0;padding-bottom: 20px;" >
                <div id="name_vs_prb" style="margin-top: 15px;margin-bottom: 15px;color:#437fc7;font-weight:bold"> </div>
                <div id="problem_rating_holder" ></div>
              </div>
              <!------------------------------------------------------------------- RECENTLY SOLVED ------------------------------------------------------------------>
              
              <div class="row" id="recently_solved_u1"> </div>
              <div class="row" id="recently_solved_u2"> </div>
              <!----------------------------------------------------------------------USER GRAPHS---------------------------------------------------------------------------------------->
              <div class="row " style="margin:0;" >
                <div class="col-sm" >
                  <div id="g1holder" style="padding-top:20px;padding-bottom: 20px;" >  </div>
                </div>
                <div  class="col-sm" id="grp2" style="background-color: #222630;padding-top:20px;padding-bottom: 20px;">
                  <div id="g2holder" style="background-color: #222630;">  </div>
                </div>
              </div>

          </div>      

          <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
              
          <div class=".container-fluid " style=" text-align: center;">
            <div class="row " style="margin:0" >
                    <div >
                        <button class="animate__animated animate__fadeIn animate__delay-1s" id="clickbox" type="button" onclick=comparefunction() style="padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;margin-top:30px;margin-bottom:30px;background-color: #295489;color:white;font-size:16px;border-radius: 11px;border: 0px solid #000000;" >
                            Compare
                        </button>
                    </div>
            </div>
          </div>

          <footer style="background-color: #10131a;">
          <hr width='100%' style="color:transparent;"> </hr>
          <div style="text-align: center;background-color: #10131a;">
            <div style="color:#9AA7B8;text-decoration: underline 1px;font-size: 14px;">
              About
            </div>
            <div style="color: #525d6a;font-size: 13px;background-color: #10131a;">
              This is an online application to check your codeforces stats and compare them with other users!
            </div>
            <div class="container" style="width:150px;background-color: #10131a;">
              <div class="row" style="margin:0">
              <div class="col" >
                <a  href="https://www.linkedin.com/in/vivek-pattanayak-8225021a0/" target="_blank" ><i class="fa fa-linkedin" style="font-size:28px;color:#525d6a;padding-top:15px;padding-bottom: 15px;"></i></a>
              </div>  
              <div class="col" >
                <a href="https://github.com/VivekPattanayak" target="_blank"><i class="fa fa-github" style="font-size:28px;color:#525d6a;padding-top:15px;padding-bottom: 15px;"></i></a>
              </div>
              </div> 
            </div>
          </div>
          </footer>
          
    </body>
</html>