*{
    max-width:100%;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body{
  background-color: #191c22;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

::placeholder {
  color: white;
  opacity: 1; 
  text-align: center;
}

input,input:focus{
  text-align: center;
  color:white;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}



body{ height:100vh; margin:0; }

footer{ min-height:50px;  }

body{ 
  display:flex; 
  flex-direction:column; 
  width: 100vw;
}

footer{
  margin-top:auto; 
}

.loader {
    border: 5px solid #3a3a3a; /* Light grey */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Toggle attributes */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: inherit;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  background-color: inherit;
}

/* The slider */
.slider {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  width: 45px;
  border: 2px solid white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 2px;
  background-color: #F9CF47;
  border: 2px solid #F9CF47;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #33ccff;
  border: 2px solid #33ccff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Handle hover*/

.cl_user_handle:hover{
  cursor: pointer;
}


/*Table coloring*/
.table_des{
  border: 2px solid rgb(78, 85, 94);
  border-radius: 15px;
  color: rgb(154, 167, 184);
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.table_des th{
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 140px;
}

.table_des tr,td{
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.table_des tr:nth-child(even) 
{
  background-color: #202631;
}

.table_des tr:nth-child(odd) 
{
  background-color: #191c22;
}

.bar_an_1 {
  background-color:#F9CF47;
  color:#F9CF47;
  display: inline-block;
  height: 100%;
  animation-iteration-count: 100000;
  width: 8px;
  position: relative;
  animation-name: animation_1;
  animation-duration: 6s;
}
.bar_an_2 {
  background-color:#1f89ca;
  color:#1f89ca;
  display: inline-block;
  height: 100%;
  animation-iteration-count: 100000;
  width: 8px;
  position: relative;
  animation-name: animation_2;
  animation-duration: 7s;
}

.bar_an_3 {

  background-color:#b41e22;
  color:#b41e22;
  display: inline-block;
  height: 100%;
  animation-iteration-count: 100000;
  width: 8px;
  position: relative;
  animation-name: animation_3;
  animation-duration: 12s;
}

@keyframes animation_1 {
  0%   { -ms-transform: scaleY(0.8);transform: scaleY(0.8);}
  25%  { -ms-transform: scaleY(1.0);transform: scaleY(1.0);}
  50%  {-ms-transform: scaleY(0.6);transform: scaleY(0.6);}
  75%  { -ms-transform: scaleY(0.2);transform: scaleY(0.2);}
  100% { -ms-transform: scaleY(0.9);transform: scaleY(0.9);}
}

@keyframes animation_2 {
  0%   { -ms-transform: scaleY(0.2); transform: scaleY(0.2);}
  25%  { -ms-transform: scaleY(0.6); transform: scaleY(0.6);}
  50%  {-ms-transform: scaleY(0.1);  transform: scaleY(0.1);}
  75%  {-ms-transform: scaleY(1.0);  transform: scaleY(1.0);}
  100% {-ms-transform: scaleY(0.5);  transform: scaleY(0.5);}
}

@keyframes animation_3 {
  0%   { -ms-transform: scaleY(0.1); transform: scaleY(0.1);}
  25%  { -ms-transform: scaleY(1.0); transform: scaleY(1.0);}
  50%  {-ms-transform: scaleY(0.5); transform: scaleY(0.5);}
  75%  { -ms-transform: scaleY(0.8); transform: scaleY(0.8);}
  100% {-ms-transform: scaleY(1.0); transform: scaleY(1.0);}
}