*{
    max-width:100%;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body{
  background-color: #191c22;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

::placeholder {
  color: white;
  opacity: 1; 
  text-align: center;
}

input,input:focus{
  text-align: center;
  color:white;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}



body{ height:100vh; margin:0; }

footer{ min-height:50px;  }

body{ 
  display:flex; 
  flex-direction:column; 
  width: 100vw;
}

footer{
  margin-top:auto; 
}


/* Toggle attributes */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: inherit;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  background-color: inherit;
}

/* The slider */
.lbl {
  position: relative;
  display: inline-block;
  margin-top: 12px;
  height: 15px;
  width: 43px;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: -3px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: rgb(255, 255, 255, 1);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after { transform: scale(1.15, 0.85); }
.cbx:checked ~ label { background: rgba(115, 113, 134, 0.5); }
.cbx:checked ~ label:after {
  left: 20px;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after { background: #bcbdbc; }
.hidden { display: none; }

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Handle hover*/

.cl_user_handle:hover{
  cursor: pointer;
}


/*Table coloring*/
.table_des{
  border: 2px solid rgb(78, 85, 94);
  border-radius: 15px;
  color: rgb(154, 167, 184);
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.table_des th{
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 140px;
}

.table_des tr,td{
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.table_des tr:nth-child(even) 
{
  background-color: #202631;
}

.table_des tr:nth-child(odd) 
{
  background-color: #191c22;
}

.bar_an_1 {
  background-color:#F9CF47;
  color:#F9CF47;
  display: inline-block;
  height: 100%;
  animation-iteration-count: 100000;
  width: 8px;
  position: relative;
  animation-name: animation_1;
  animation-duration: 6s;
}
.bar_an_2 {
  background-color:#1f89ca;
  color:#1f89ca;
  display: inline-block;
  height: 100%;
  animation-iteration-count: 100000;
  width: 8px;
  position: relative;
  animation-name: animation_2;
  animation-duration: 7s;
}

.bar_an_3 {

  background-color:#b41e22;
  color:#b41e22;
  display: inline-block;
  height: 100%;
  animation-iteration-count: 100000;
  width: 8px;
  position: relative;
  animation-name: animation_3;
  animation-duration: 12s;
}

@keyframes animation_1 {
  0%   { -ms-transform: scaleY(0.8);transform: scaleY(0.8);}
  25%  { -ms-transform: scaleY(1.0);transform: scaleY(1.0);}
  50%  {-ms-transform: scaleY(0.6);transform: scaleY(0.6);}
  75%  { -ms-transform: scaleY(0.2);transform: scaleY(0.2);}
  100% { -ms-transform: scaleY(0.9);transform: scaleY(0.8);}
}

@keyframes animation_2 {
  0%   { -ms-transform: scaleY(0.2); transform: scaleY(0.2);}
  25%  { -ms-transform: scaleY(0.6); transform: scaleY(0.6);}
  50%  {-ms-transform: scaleY(0.1);  transform: scaleY(0.1);}
  75%  {-ms-transform: scaleY(1.0);  transform: scaleY(1.0);}
  100% {-ms-transform: scaleY(0.5);  transform: scaleY(0.2);}
}

@keyframes animation_3 {
  0%   { -ms-transform: scaleY(0.1); transform: scaleY(0.1);}
  25%  { -ms-transform: scaleY(1.0); transform: scaleY(1.0);}
  50%  {-ms-transform: scaleY(0.5); transform: scaleY(0.5);}
  75%  { -ms-transform: scaleY(0.8); transform: scaleY(0.99);}
  100% {-ms-transform: scaleY(1.0); transform: scaleY(0.1);}
}

.form-control{
  background-color: inherit;
  border: 0px solid transparent;
  position: relative;
  color:white;
}

.form-control input{
  width: 100%;
  outline:0;
  border: 2px solid white;
  margin-bottom: 20px;
}

.form-control input:focus{
  width: 100%;
  border: 2px solid rgb(112, 112, 209);
}

.form-control.success input{
  background-color: inherit;
  border: 2px solid rgb(28, 175, 28);
  color:white;
}

.form-control.error input{
  background-color: inherit;
  border: 2px solid red;
  color:white;
}

.form-control i:first-of-type{
  color:red;
  position: absolute;
  top: 38px; right: 17px;
  visibility: hidden;
}

.form-control.success i:first-of-type{
  visibility: hidden;
}

.form-control.error i:first-of-type{
  visibility: visible;
}

.form-control i:nth-of-type(2){
  color:rgb(28, 175, 28);
  position: absolute;
  top: 38px; right: 17px;
  visibility: hidden;
}

.form-control.success i:nth-of-type(2){
  visibility: visible;
}

.form-control.error i:nth-of-type(2){
  visibility: hidden;
}

.form-control small{
  position: absolute;
  bottom: 0; left: 11px;
  visibility: hidden;
}

.form-control.success small{
  visibility: hidden;
}

.form-control.error small{
  visibility: visible;
}

.navlink {
  color: #eaf0f6;
  padding-left: 10px; 
  padding-right: 10px;
  padding-top:1px;
  padding-bottom:4px;
  margin-left:5px;
  margin-right: 5px;
  border-radius: 8px;
  text-decoration: none;
}

.navlink:hover{
  color:#F9CF47;
}

.clickbtn{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  margin-top:30px;
  margin-bottom:30px;
  background-color: rgb(255, 255, 255,0.1);
  color:white;
  font-size:16px;
  border-radius: 11px;
  border: 0px solid #000000;
}

.clickbtn:hover{
  background-color: rgb(255, 255, 255,0.05);
  color:#5f47f9;
}

.prof_box{
  background-color: rgb(95, 71, 249,0.8);
}

.prof_box:hover{
  color: black;
}